<!-- /*  Name:    Henrique Cury
Course: C NT 4714 – S pring 2020 – Project Four
Assignment title:  A Three-Tier Distributed Web-Based Application
Date:  April 5, 2020 */ -->

<web-app>

  <!-- General description of your Web application -->
  <display-name>
      Project 4
  </display-name>

  <description>
    Use JSP for SQL commands.
  </description>

  <!-- Servlet definitions -->
  <servlet>
    <servlet-name>MySQLServlet</servlet-name>
    <description>
         Servlet for SQL
    </description>
    <servlet-class>MySQLServlet</servlet-class>
    <init-param>
     <param-name>databaseDriver</param-name>
     <param-value>com.mysql.cj.jdbc.Driver</param-value>
    </init-param>
    <init-param>
     <param-name>databaseName</param-name>
     <param-value>jdbc:mysql://localhost:3306/project4</param-value>
    </init-param>
    <init-param>
      <param-name>username</param-name>
      <param-value>root</param-value>
    </init-param>
    <init-param>
      <param-name>password</param-name>
      <param-value>root</param-value>
    </init-param>

  </servlet>

  <!-- Servlet mappings -->
  <servlet-mapping>
    <servlet-name>MySQLServlet</servlet-name>
    <url-pattern>/MySQLServlet</url-pattern>
  </servlet-mapping>

</web-app>
